.untitled-1-1-icon {
  position: absolute;
  top: 11px;
  left: 0;
  width: 1920px;
  height: 940px;
  object-fit: cover;
}
.frame-icon {
  position: absolute;
  top: 36px;
  left: 919px;
  width: 822px;
  height: 707px;
  overflow: hidden;
}
.blue-jeans-fafbric-details-1-icon {
  position: absolute;
  top: 108px;
  left: 998px;
  width: 663px;
  height: 652px;
  object-fit: cover;
}
.vector-icon {
  position: absolute;
  height: 56.89%;
  width: 89.31%;
  top: 0;
  right: 0;
  bottom: 43.11%;
  left: 10.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b,
.call-1-1 {
  position: absolute;
  top: 0;
  left: 18.99%;
}
.call-1-1 {
  height: 89.55%;
  width: 15.19%;
  top: 4.48%;
  right: 84.81%;
  bottom: 5.97%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent,
.vector-icon1 {
  position: absolute;
  height: 98px;
  width: 74.11%;
  top: 7.19%;
  right: 8.26%;
  bottom: 52.69%;
  left: 17.64%;
}
.vector-icon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div,
.vector-group {
  position: absolute;
  top: 25.33%;
  left: 8.52%;
}
.vector-group {
  height: 44.91%;
  width: 74.86%;
  top: 55.09%;
  right: 25.14%;
  bottom: 0;
  left: 0;
  font-size: 33px;
  color: var(--color-white);
  font-family: var(--font-li-ador-noirrit);
}
.vector-parent {
  position: absolute;
  height: 17.77%;
  width: 27.76%;
  top: 79.15%;
  right: 16.88%;
  bottom: 3.09%;
  left: 55.36%;
  font-size: var(--font-size-31xl);
  font-family: var(--font-malgun-gothic);
}
.div {
  font-size: 28px;
}
.div1 {
  border: none;
  font-size: 24px;

  padding-top: 2px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#003b60, #003b60), #092e67;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-decoration: none;
}
.vector-icon3 {
  padding-left: 10px;
  position: absolute;
  height: 49.79%;
  width: 20.51%;
  top: 19.36%;
  right: 0;
  bottom: 30.84%;
  left: 79.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group {
  position: absolute;
  top: 22.82px;
  left: 46px;
  width: 169.14px;
  height: 33px;
}
.vector-container {
  position: absolute;
  height: 8.16%;
  width: 13.65%;
  top: 69.68%;
  right: 73.75%;
  bottom: 22.16%;
  left: 12.6%;
  font-family: var(--font-li-niladri-rongtuli-unicode);
}
.div2 {
  top: 782px;
  left: 241px;
  font-size: 30px;
  display: inline-block;
  width: 576px;
}
.div2,
.div3,
.div4 {
  position: absolute;
}
.div3 {
  top: 303px;
  left: 242px;
  font-size: 47px;
  font-weight: bold;
  font-family: var(--font-li-niladri-rongtuli-unicode);
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 663px;
}
.div4 {
  top: 17px;
  left: 29px;
  font-size: 20px;
}
.group-div {
  height: 6.91%;
  width: 20.16%;
  top: 22.13%;
  right: 67.24%;
  bottom: 70.96%;
  left: 12.6%;
  color: var(--color-white);
}
.b1,
.div5,
.group-div {
  position: absolute;
}
.div5 {
  top: 12px;
  left: 0;
  text-decoration: line-through;
}
.b1 {
  top: 0;
  left: 95px;
  font-size: 41px;
  color: var(--color-darkslategray-200);
}
.container,
.div6 {
  position: absolute;
  left: 0;
}
.container {
  top: 32px;
  width: 283px;
  height: 74px;
}
.div6 {
  top: 0;
  color: var(--color-darkslategray-200);
}
.group-parent {
  position: absolute;
  top: 497px;
  left: 243px;
  width: 283px;
  height: 106px;
  color: #608aab;
}
.untitled-1-1-parent {
  position: absolute;
  top: -11px;
  left: 0px;
  width: 1920px;
  height: 940px;
  color: var(--color-darkslategray-200);
  font-family: var(--font-li-ador-noirrit);
}
.denim-text-effect-1-icon {
  position: absolute;
  top: 1647px;
  left: 0;
  width: 1930px;
  height: 1145px;
  object-fit: cover;
}
.div7 {
  position: absolute;
  top: 1020px;
  left: 315px;
  font-family: var(--font-li-ador-noirrit);
  display: inline-block;
  width: 1290px;
  font-size: 22px;
}
.denim-pants-child {
  position: absolute;
  top: 1647px;
  left: 0;
  background: linear-gradient(
    180deg,
    #0e161f,
    rgba(14, 22, 31, 0) 52.08%,
    rgba(14, 22, 31, 0.96)
  );
  width: 1920px;
  height: 1145px;
}
.p {
  margin: 0;
}
.div8 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 685px;
}
.div8,
p {
  font-size: 37px;
  font-weight: bold;
  padding-top: 14px;
}
.vector-icon6 {
  position: absolute;
  height: 63.31%;
  width: 24.83%;
  top: 14.83%;
  right: 0;
  bottom: 21.86%;
  left: 75.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent2,
.vector-parent1 {
  position: absolute;
  top: 43px;
  left: 104px;
  width: 236.81px;
  height: 44px;
  cursor: pointer;
}
.vector-parent1 {
  height: 43.48%;
  width: 64.84%;
  top: 56.52%;
  right: 17.64%;
  bottom: 0;
  left: 17.52%;
  text-align: left;
  font-size: var(--font-size-13xl);
  font-family: var(--font-li-niladri-rongtuli-unicode);
}
.parent1 {
  position: absolute;
  top: 2438px;
  left: 618px;
  width: 685px;
  height: 299px;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-li-sheikh-hasina-2);
}
.blue-jeans-pants-clothes-pile-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 303.5px;
  width: 559px;
  height: 839px;
  object-fit: cover;
}
.checked-4-1 {
  position: absolute;
  top: 5px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.style-narrow-slim {
  position: absolute;
  top: 0;
  left: 42px;
  font-weight: 500;
}
.checked-4-1-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 281px;
  height: 33px;
  text-align: center;
}
.very-comfortable-to {
  position: absolute;
  top: 0;
  left: 37px;
  font-weight: 500;
}
.checked-4-1-group {
  position: absolute;
  top: 57px;
  left: 0;
  width: 329px;
  height: 33px;
}
.checked-4-1-container,
.group-parent2 {
  position: absolute;
  top: 114px;
  left: 0;
  width: 346px;
  height: 33px;
}
.group-parent2 {
  top: 0;
  left: 330px;
  height: 147px;
}
.mens-denim-pant {
  position: absolute;
  top: 0;
  left: 41px;
  font-weight: 500;
}
.checked-4-1-parent1,
.checked-4-1-parent2,
.checked-4-1-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 245px;
  height: 33px;
}
.checked-4-1-parent2,
.checked-4-1-parent3 {
  top: 57px;
}
.checked-4-1-parent3 {
  top: 114px;
  width: 187px;
  text-align: left;
}
.fabrics-denim {
  position: absolute;
  top: 0;
  left: 38px;
  font-weight: 500;
}
.checked-4-1-parent4 {
  position: absolute;
  top: 171px;
  left: 0;
  width: 206px;
  height: 33px;
  text-align: left;
}
.group-parent3 {
  top: 0;
  width: 245px;
  height: 204px;
  text-align: center;
}
.div10,
.group-parent1,
.group-parent3 {
  position: absolute;
  left: 0;
}
.group-parent1 {
  top: 160px;
  width: 676px;
  height: 204px;
}
.div10 {
  top: 0;
  font-size: var(--font-size-25xl);
  font-family: var(--font-li-niladri-rongtuli-unicode);
  display: inline-block;
  width: 600px;
}
.group-container {
  position: absolute;
  top: 0;
  left: 653px;
  width: 676px;
  height: 364px;
}
.blue-jeans-pants-clothes-pile-parent,
.frame-icon1 {
  position: absolute;
  top: 1196px;
  left: 276px;
  width: 1329px;
  height: 839px;
}
.frame-icon1 {
  top: 0;
  left: 0;
  width: 99px;
  height: 101px;
  overflow: hidden;
}
.div11,
.frame-parent {
  position: absolute;
  top: 20px;
  left: 23px;
}
.frame-parent {
  top: 0;
  left: 0;
  width: 99px;
  height: 101px;
}
.frame-container,
.frame-group,
.frame-parent1,
.group-parent5 {
  position: absolute;
  top: 0;
  left: 125px;
  width: 99px;
  height: 101px;
}
.frame-container,
.frame-parent1,
.group-parent5 {
  left: 250px;
}
.frame-parent1,
.group-parent5 {
  left: 375px;
}
.group-parent5 {
  top: 76px;
  left: 0;
  width: 474px;
}
.div15 {
  font-size: 40px;
}
.div15,
.group-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-yellow);
}
.group-parent4 {
  top: 1727px;
  left: 933px;
  width: 474px;
  height: 177px;
  font-size: var(--font-size-25xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-li-niladri-rongtuli-unicode);
}
.denim-pants-item {
  position: absolute;
  top: 54.98px;
  left: 317px;
  width: 237.07px;
  height: 84.68px;
}
.denim-pants-inner,
.rectangle-div {
  position: absolute;
  top: 2792px;
  left: 0;
  background-color: var(--color-aliceblue);
  width: 1925px;
  height: 1172px;
}
.rectangle-div {
  top: 5275px;
  height: 1065px;
}
.group-child {
  position: absolute;
  top: -138px;
  left: -93px;
  width: 521px;
  height: 580.51px;
}
.div16 {
  position: absolute;
  top: 14.17px;
  left: 42.96px;
  display: inline-block;
  width: 177.49px;
  font-size: 17px;
}
.vector-parent3 {
  position: absolute;
  height: 21.13%;
  width: 87.72%;
  top: 73.79%;
  right: 6.23%;
  bottom: 5.08%;
  left: 6.05%;
}
.pair-jeans-isolated-white-remo-icon {
  position: absolute;
  top: 30.52px;
  left: 15.83px;
  width: 264.54px;
  height: 208.01px;
  object-fit: cover;
}
.vector-parent2 {
  position: absolute;
  top: 0;
  left: 328px;
  width: 299px;
  height: 358.51px;
}
.image-removebg-preview-2023- {
  position: absolute;
  top: 26px;
  left: 52px;
  width: 209.14px;
  height: 221.58px;
  object-fit: cover;
}
.vector-parent4,
.vector-parent6 {
  position: absolute;
  top: 0;
  left: 658px;
  width: 299px;
  height: 358.51px;
}
.vector-parent6 {
  left: 0;
}
.blue-jeans-white-background-re-icon {
  position: absolute;
  top: 30.52px;
  left: 31.65px;
  width: 234.02px;
  height: 224.97px;
  object-fit: cover;
}
.group-parent7,
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 988px;
  width: 299px;
  height: 358.51px;
}
.rectangle-icon {
  top: -138px;
  left: -93px;
  width: 519px;
  height: 578.12px;
}
.stack-jeans-isolated-white-rem-icon {
  position: absolute;
  top: 28.07px;
  left: 19.09px;
  width: 257.16px;
  height: 212.24px;
  object-fit: cover;
}
.div19 {
  position: absolute;
  top: 27.58px;
  left: 43.8px;
}
.group-parent6,
.vector-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 297px;
  height: 356.12px;
}
.group-parent6 {
  top: 2872px;
  left: 318px;
  width: 1287px;
  height: 358.51px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-li-ador-noirrit);
}
.line-div {
  position: absolute;
  top: 3310.5px;
  left: 328.5px;
  border-top: 1px dashed var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 1263px;
  height: 1px;
}
.div20 {
  color: #003b60;
  font-family: Li Niladri Rongtuli Unicode;
  font-style: normal;
  line-height: normal;
  font-size: 37px;
  font-weight: bold;
}
.checked-4-4,
.div20,
.div21 {
  position: absolute;
  top: 0;
  left: 418px;
  font-size: 20px;
}
.checked-4-4,
.div21 {
  left: 34px;
}
.checked-4-4 {
  top: 4px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-parent9,
.parent4,
.parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 538px;
  height: 32px;
}
.group-parent9,
.parent5 {
  top: 62px;
  width: 340px;
}
.group-parent9 {
  top: 0;
  left: 630px;
  width: 538px;
  height: 94px;
}
.parent6,
.parent7,
.parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  height: 32px;
}
.parent7,
.parent8 {
  top: 62px;
  width: 555px;
}
.parent8 {
  top: 124px;
  width: 249px;
}
.group-parent10,
.group-parent8,
.parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 555px;
  height: 156px;
  cursor: pointer;
}
.group-parent8,
.parent3 {
  top: 133px;
  width: 1168px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-li-ador-noirrit);
}
.parent3 {
  top: 3378px;
  left: 376px;
  height: 289px;
  font-size: var(--font-size-25xl);
  font-family: var(--font-li-niladri-rongtuli-unicode);
}
.mask-group-icon {
  position: absolute;
  top: 3747px;
  left: 200px;
  width: 1520px;
  height: 788px;
  object-fit: cover;
}
.group-icon {
  cursor: pointer;
}
.group-icon,
.icon,
.icon1 {
  position: absolute;
  top: 4077px;
  left: 896px;
  width: 128px;
  height: 128px;
  font-size: 26px;
}
.icon,
.icon1 {
  top: 6340px;
  left: 0;
  width: 1932px;
  height: 979px;
  object-fit: cover;
}
.icon1 {
  top: 0;
  border-radius: var(--br-98xl) 0 var(--br-98xl) 0;
  width: 902px;
  height: 696px;
}
.div26 {
  font-size: 27px;
}
.div26,
.div27 {
  position: absolute;
  top: 84px;
  left: 25px;
}
.div27 {
  top: 0;
  left: 0;
  font-size: 51px;
  font-family: var(--font-li-niladri-rongtuli-unicode);
}
.parent10,
.vector-parent10 {
  position: absolute;
  top: 219px;
  left: 268px;
  width: 366px;
  height: 126px;
}
.vector-parent10 {
  height: 18.68%;
  width: 49.24%;
  top: 53.59%;
  right: 25.37%;
  bottom: 27.73%;
  left: 25.39%;
  text-align: left;
  font-family: var(--font-li-niladri-rongtuli-unicode);
}
.parent9 {
  position: absolute;
  top: 4969px;
  left: 509px;
  width: 902px;
  height: 696px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-li-ador-noirrit);
}
.group-child1 {
  position: absolute;
  top: 28.77px;
  left: -29px;
  width: 490.88px;
  height: 428.23px;
}
.buffalo-nj,
.jacob-jones {
  position: absolute;
  top: 47.78px;
  left: 44px;
}
.jacob-jones {
  top: 0;
  left: 0;
  font-size: var(--font-size-9xl);
}
.buffalo-nj-parent,
.image-icon {
  position: absolute;
  top: 159.27px;
  left: 0;
  width: 167px;
  height: 69.78px;
}
.image-icon {
  top: 0;
  left: 19px;
  border-radius: 50%;
  width: 129.54px;
  height: 129.54px;
  object-fit: cover;
}
.group-parent13 {
  position: absolute;
  top: 0;
  left: 113px;
  width: 167px;
  height: 229.06px;
}
.sociable-on-as {
  position: absolute;
  top: 268.64px;
  left: 31.85px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  text-align: center;
  display: inline-block;
  width: 330.23px;
}
.group-child2 {
  position: absolute;
  top: 254.34px;
  left: 90.82px;
  border-top: 1px dashed var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 211.24px;
  height: 1px;
}
.group-child3,
.vector-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 392.88px;
  height: 395px;
}
.group-child3 {
  top: 64.77px;
  height: 330.23px;
}
.buffalo-nj1 {
  position: absolute;
  top: 47.78px;
  left: 53px;
  display: inline-block;
  width: 82.82px;
}
.buffalo-nj-group,
.image-icon1 {
  position: absolute;
  top: 159.27px;
  left: 0;
  width: 188px;
  height: 69.78px;
}
.image-icon1 {
  top: 0;
  left: 28.88px;
  border-radius: 50%;
  width: 129.54px;
  height: 129.54px;
  object-fit: cover;
}
.group-parent14 {
  position: absolute;
  top: 0;
  left: 102.78px;
  width: 188px;
  height: 229.06px;
}
.sociable-on-as1 {
  position: absolute;
  top: 268.64px;
  left: 31.78px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  text-align: center;
  display: inline-block;
  width: 330.23px;
}
.group-child4 {
  position: absolute;
  top: 254.34px;
  left: 90.82px;
  border-top: 1px dashed var(--color-yellow);
  box-sizing: border-box;
  width: 211.24px;
  height: 1px;
}
.vector-parent12 {
  position: absolute;
  top: 0;
  left: 450.22px;
  width: 392.88px;
  height: 395px;
  color: var(--color-white);
}
.buffalo-nj2 {
  position: absolute;
  top: 47.78px;
  left: 40px;
}
.buffalo-nj-container,
.image-icon2 {
  position: absolute;
  top: 159.27px;
  left: 0;
  width: 157px;
  height: 69.78px;
}
.image-icon2 {
  top: 0;
  left: 14px;
  border-radius: 50%;
  width: 129.54px;
  height: 129.54px;
  object-fit: cover;
}
.group-parent15 {
  position: absolute;
  top: 0;
  left: 118px;
  width: 157px;
  height: 229.06px;
}
.sociable-on-as2 {
  position: absolute;
  top: 268.64px;
  left: 32.28px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  text-align: center;
  display: inline-block;
  width: 330.23px;
}
.group-child6 {
  position: absolute;
  top: 254.34px;
  left: 91.25px;
  border-top: 1px dashed var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 211.24px;
  height: 1px;
}
.group-parent12,
.vector-parent13 {
  position: absolute;
  top: 0;
  left: 900px;
  width: 392.88px;
  height: 395px;
}
.group-parent12 {
  left: 0;
  width: 1292.88px;
}
.group-child7,
.group-parent11 {
  position: absolute;
  top: 459px;
  left: 580px;
  width: 133px;
  height: 57px;
}
.group-parent11 {
  top: 5745px;
  left: 314px;
  width: 1292.88px;
  height: 516px;
  font-size: var(--font-size-base);
}
.denim-pants-child1 {
  position: absolute;
  top: 8391px;
  left: -6px;
  background-color: var(--color-darkslategray-100);
  width: 578px;
  height: 21px;
}
.mask-group-icon1 {
  position: absolute;
  top: 7080px;
  left: 0;
  width: 1920px;
  height: 549px;
  object-fit: cover;
}
.denim-pants-child2,
.denim-pants-child3 {
  position: absolute;
  top: 7282px;
  left: 0;
  background: linear-gradient(0deg, #003b60, rgba(0, 59, 96, 0));
  width: 1920px;
  height: 399px;
}
.denim-pants-child3 {
  top: 7280px;
  left: 1920px;
  height: 940px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.denim-pants-child4,
.group-child8 {
  position: absolute;
  top: 7488px;
  left: 861px;
  width: 230px;
  height: 62.37px;
}
.group-child8 {
  top: 0;
  left: 0;
  border-radius: var(--br-6xl) 0 var(--br-6xl) 0;
  background-color: var(--color-white);
  box-shadow: 0-68px 80px rgba(0, 0, 0, 0.03),
    0 35px 46.85px rgba(0, 0, 0, 0.02), 0-3px 25.48px rgba(0, 0, 0, 0.02),
    0 20px 13px rgba(0, 0, 0, 0.01),
    0 8.148148536682129px 6.52px rgba(0, 0, 0, 0.01),
    0 1.8518518209457397px 3.15px rgba(0, 0, 0, 0.01);
  width: 560px;
  height: 146px;
}
.paymet {
  position: absolute;
  top: 8.9%;
  left: 4.29%;
  font-size: var(--font-size-lg);
  text-align: left;
}
.frame-child {
  position: absolute;
  margin: 0 !important;
  top: -11px;
  left: 74.47px;
  width: 22px;
  height: 18px;
  z-index: 0;
}
.pay-with-cash {
  position: relative;
  line-height: 160%;
  z-index: 1;
}
.polygon-parent {
  position: absolute;
  top: 100px;
  left: 0;
  border-radius: 0 0 var(--br-6xl) 0;
  background-color: var(--color-darkslategray-100);
  width: 560px;
  display: flex;
  flex-direction: row;
  padding: 12px 23px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: var(--color-white);
}
.group-child9 {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: var(--br-7xs);
  width: 18px;
  height: 18px;
}
.div29 {
  position: absolute;
  top: 3px;
  left: 22.05%;
  line-height: 160%;
  font-size: 11px;
}
.frame-parent2,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 127px;
  height: 22px;
}
.group-wrapper {
  top: 54px;
  left: 23px;
  font-family: var(--font-li-ador-noirrit);
}
.rectangle-parent {
  position: absolute;
  top: 281px;
  left: 0;
  width: 560px;
  height: 146px;
}
.billing-details {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 160%;
}
.group-child10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 560px;
  height: 46px;
  opacity: 0.7;
}
.div30 {
  position: absolute;
  top: 12px;
  left: 18.39px;
  line-height: 160%;
  display: flex;
  align-items: center;
  width: 117.52px;
}
.billing-details-parent,
.group-frame,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 560px;
  height: 46px;
}
.billing-details-parent,
.group-frame {
  top: 44px;
  font-size: var(--font-size-sm);
  font-family: var(--font-li-ador-noirrit);
}
.billing-details-parent {
  top: 0;
  height: 90px;
  font-size: var(--font-size-lg);
  font-family: var(--font-manrope);
}
.div31 {
  position: absolute;
  top: 12px;
  left: 18.39px;
  line-height: 160%;
  display: flex;
  align-items: center;
  width: 173.72px;
}
.rectangle-container {
  position: absolute;
  top: 196px;
  left: 0;
  width: 560px;
  height: 46px;
}
.div32 {
  position: absolute;
  top: 12px;
  left: 18.39px;
  line-height: 160%;
  display: flex;
  align-items: center;
  width: 185.99px;
}
.rectangle-parent1 {
  position: absolute;
  top: 120px;
  left: 0;
  width: 560px;
  height: 46px;
}
.group-parent17,
.group-parent18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 560px;
}
.group-parent18 {
  height: 242px;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-li-ador-noirrit);
}
.group-parent17 {
  height: 427px;
}
.group-child13,
.image-195-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
}
.group-child13 {
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 463px;
  height: 357px;
  opacity: 0.7;
}
.image-195-icon {
  width: 67px;
  height: 78px;
  object-fit: cover;
}
.div33,
.flower-of-story {
  position: absolute;
  line-height: 160%;
}
.flower-of-story {
  top: 17px;
  left: 75px;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  width: 171px;
}
.div33 {
  top: 0;
  left: 10.36px;
  font-weight: 500;
}
.icon2,
.parent12 {
  position: absolute;
  top: 10.82px;
  left: 0;
  width: 7.27px;
  height: 7.27px;
}
.parent12 {
  top: 26px;
  left: 254px;
  width: 17.36px;
  height: 26px;
}
.div34 {
  position: absolute;
  top: 0;
  left: 13.89px;
  line-height: 160%;
}
.icon3,
.parent13 {
  position: absolute;
  top: 7px;
  left: 0;
  width: 9.41px;
  height: 11.98px;
}
.parent13 {
  top: 26px;
  left: 316px;
  width: 76.89px;
  height: 26px;
}
.image-195-parent {
  position: absolute;
  top: 56px;
  left: 0;
  width: 392.89px;
  height: 78px;
  font-size: var(--font-size-base);
}
.subtotal {
  position: absolute;
  top: 0;
  left: 331px;
  line-height: 160%;
}
.product-parent {
  position: absolute;
  top: 16px;
  left: 35px;
  width: 403px;
  height: 134px;
}
.group-child14,
.group-child15,
.group-child16 {
  position: absolute;
  top: 58px;
  left: 0;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 463px;
  height: 0;
  opacity: 0.7;
}
.group-child15,
.group-child16 {
  top: 167px;
}
.group-child16 {
  top: 288px;
}
.div35,
.total {
  position: absolute;
  top: 131px;
  left: 0;
}
.div35 {
  top: 0;
  left: 13.89px;
  line-height: 160%;
  font-weight: 800;
}
.icon4,
.parent14 {
  position: absolute;
  top: 8px;
  left: 0;
  width: 9.41px;
  height: 11.98px;
}
.parent14 {
  top: 129px;
  left: 316px;
  width: 91.89px;
  height: 29px;
}
.div36 {
  position: absolute;
  top: 0;
  left: 14.39px;
  line-height: 160%;
}
.group-wrapper1,
.parent15,
.subtotal-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 77.39px;
  height: 26px;
}
.group-wrapper1,
.subtotal-parent {
  left: 317px;
}
.subtotal-parent {
  left: 0;
  width: 394.39px;
}
.div37,
.shipping {
  position: absolute;
  top: 57px;
  left: 0;
  line-height: 160%;
}
.div37 {
  top: 0;
  left: 28px;
  font-size: 13px;
}
.group-child17 {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-7xs);
  width: 18px;
  height: 18px;
}
.parent16 {
  position: absolute;
  top: 40px;
  left: 299px;
  width: 94px;
  height: 26px;
  font-family: var(--font-li-ador-noirrit);
}
.frame-div {
  position: absolute;
  top: 3px;
  left: -1px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-yellow);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.parent17 {
  position: absolute;
  top: 73px;
  left: 289px;
  width: 104px;
  height: 26px;
  font-family: var(--font-li-ador-noirrit);
}
.group-parent19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 394.39px;
  height: 99px;
  font-size: var(--font-size-base);
}
.total-parent {
  position: absolute;
  top: 178px;
  left: 34px;
  width: 407.89px;
  height: 158px;
}
.rectangle-parent2 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 463px;
  height: 357px;
}
.group-parent16,
.your-order-parent {
  position: absolute;
  top: 0;
  left: 677px;
  width: 463px;
  height: 401px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.group-parent16 {
  top: 6520px;
  left: 405px;
  width: 1140px;
  height: 427px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--hilsafish-text);
}
.parent18 {
  position: absolute;
  top: 22px;
  left: 146px;
  width: 169.14px;
  height: 33px;
}
.div40,
.vector-parent14 {
  position: absolute;
  font-family: var(--font-li-niladri-rongtuli-unicode);
}
.vector-parent14 {
  height: 1%;
  width: 24.03%;
  top: 90.59%;
  right: 19.61%;
  bottom: 8.41%;
  left: 56.35%;
}
.div40 {
  top: 6420px;
  left: 498px;
  font-size: var(--font-size-25xl);
  color: var(--color-white);
}
.group-child18,
.group-child19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1638px;
  height: 277px;
}
.group-child19 {
  left: 471px;
  width: 229px;
  height: 188.33px;
}
.b2,
.b3 {
  position: absolute;
  top: 37px;
  left: 2px;
}
.b3 {
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-family: var(--font-li-ador-noirrit);
  color: var(--color-yellow);
  text-align: center;
  font-size: 20px;
}
.group-wrapper2,
.parent19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 328px;
  height: 92px;
}
.group-wrapper2 {
  top: 48px;
  left: 971px;
}
.div41 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 35px;
  font-weight: bold;
}
.div42 {
  top: 34px;
  font-size: 12px;
}
.b4,
.div42,
.parent20 {
  position: absolute;
  left: 0;
}
.parent20 {
  top: 61px;
  width: 99px;
  height: 58px;
}
.b4 {
  font-size: 18px;
  top: 0;
  /* font-size: var(--font-size-5xl); */
  text-align: center;
}
.group-child20 {
  position: absolute;
  top: 44px;
  left: -1px;
  border-top: 2px solid var(--color-yellow);
  box-sizing: border-box;
  width: 50px;
  height: 2px;
}
.group-parent21 {
  position: absolute;
  top: 35px;
  left: 0;
  width: 151px;
  height: 119px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-li-ador-noirrit);
}
.group-parent20,
.vector-parent15 {
  position: absolute;
  top: 44px;
  left: 169px;
  width: 1299px;
  height: 188.33px;
}
.vector-parent15 {
  top: 7090px;
  left: 202px;
  width: 1638px;
  height: 277px;
  font-size: 39.99px;
  color: #f8f8f8;
}
.div44 {
  position: absolute;
  top: 18px;
  left: 68px;
  font-size: 20px;
}
.group-child21 {
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.group-child21,
.parent22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 893px;
  height: 67px;
}
.div45 {
  position: absolute;
  top: 18px;
  left: 90px;
  font-size: 20px;
}
.group-child22,
.parent23 {
  position: absolute;
  width: 581px;
  height: 67px;
}
.group-child22 {
  top: 0;
  left: 0;
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.parent23 {
  top: 107px;
  left: 156px;
}
.group-parent22,
.parent21 {
  position: absolute;
  top: 100px;
  left: 56px;
  width: 893px;
  height: 174px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-li-ador-noirrit);
}
.parent21 {
  top: 4615px;
  left: 444px;
  width: 1005px;
  height: 274px;
  font-size: var(--font-size-25xl);
  font-family: var(--font-li-niladri-rongtuli-unicode);
}
.system-development-by {
  font-weight: 500;
}
.funnel-liner1 {
  text-decoration: underline;
}
.funnel-liner {
  color: #ffe663;
  font-size: 25px;
}
.system-development-by-container {
  position: absolute;
  top: 7619px;
  left: 769px;
  display: inline-block;
  width: 382px;
  font-size: 20px;
  color: #fffeff;
}
.denim-pants {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 7681px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-manrope);
}
.custom-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px; /* Add some space between input fields */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent; /* Make the input background transparent */
  color: white; /* Adjust text color as needed */
  margin-bottom: 30px;
}
.custom-input::placeholder {
  color: white; /* Change the color of the placeholders */
}
.input-container {
  position: relative;
  width: 300px; /* Adjust the container width as needed */
  margin: 0 auto;
}
.background-image {
  margin-right: -104px;
  margin-left: -128px;
}
.privacy1 {
  font-size: 12px;
  padding-bottom: 10px;
}
.privacy2 {
  font-size: 12px;
}
